:root {
  --contrast-light-color: #fff;
  --contrast-light-color-rgb: 255, 255, 255;
  --contrast-dark-color: #000;
  --contrast-dark-color-rgb: 0, 0, 0;
  --base-font-family: 'Roboto', sans-serif;
  --base-font: 400 16px var(--base-font-family);
  --base-time: 0.2s;
  --base-radius: 5px;
}
